/*
/* Blog Content */
.content { 
    background-color: rgba(129, 129, 129, 0.5);
    width: auto;
    margin: 10px;
    grid-area: main; 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    border: solid 4px grey;
    border-radius: 50px;
    overflow: hidden;
    font-size: 1.4em;
}

.content h2, .content h5 {
    margin-left: 40px;
    font-family: 'pirulen';
    color: rgb(255, 255, 255);
}

.avatar {
    margin-left: 40px;
    display: flex;
    flex-flow: row;
}

.avatar ul {
    font-family: 'libel';
    color: #ff7575;
    list-style: none;
}

.content p {
    font-family: 'libel';
    font-size: 1.1em;
    color: #ffffff;
    padding: 20px;
}



