@import url(fonts.css);
@import url(blog-post.css);
@import url(card.css);
@import url(navbar.css);

body {
    background-color: rgb(46, 27, 102);
    background-image: url(/assets/Images/space.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.container {
    display: grid;
    grid:
      "header header header" auto
      "main main sb" 1fr
      "footer footer footer" auto
      / auto 1fr auto;
    gap: 8px;
}

/*
/* Header Content */
header {
    font-family: 'nuggets';
    font-size: 1.2em;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    grid-area: header; 
}

header img {
    margin-left: 30px;
}

#logoTitle {
    color: rgb(255, 255, 255);
    text-shadow: 
    1px 5px 4px rgba(0,0,0,.3), 
   0 0 2px rgba(255,255,255,1), 
   0 0 10px rgba(255,255,255,1), 
   0 0 20px rgba(255,255,255,1), 
   0 0 30px rgba(255,255,255,1), 
   0 0 40px #1e1e1e, 
   0 0 70px #1e1e1e, 
   0 0 80px #1e1e1e,
   0 0 100px #1e1e1e;
}

/*
/* Sidebar Content */
.sidebar { 
    background-color: rgba(129, 129, 129, 0.5);
    height: fit-content;
    margin: 10px;
    padding: 40px;
    grid-area: sb;
    border: solid 4px grey; 
    border-radius: 50px;
}

.sidebar a {
    display: block;
    padding: 8px;
    background-color: #2a4391;
    text-decoration: none;
    border-style: solid;
    border-color: #f3f3ef;
    border-radius: 10px;
    margin-top: 16px;
    color: white;
}

.sidebar a:hover {
    color: #1e1e1e;
    background-color: rgb(66, 60, 145);
    border-color: rgb(0, 123, 123);
}

.sidebar input[type=text] {
    max-width: 150px;
    height: 40px;
    margin-right: 0px;
    font-size: 17px;
}

.sidebar .search-container button {
    width: 60px;
    height: 45px;
    align-self: flex-start;
    padding: 4px 10px;
    margin-top: 8px;
    margin-right: 16px;
    margin-left: 0px;
    background: #4b3fa5;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.container .search-container button:hover {
    background: #bfbfbf;
}

/*
/* Main */
.main { 
    background-color: rgba(129, 129, 129, 0.5);
    margin: 10px;
    padding: 10px;
    grid-area: main; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: solid 4px grey;
    border-radius: 50px;
}

/*
/* Footer Content */
footer {
    padding: 20px;
    font-family: 'hemi';
    background-color: grey;
    color: white;
    text-align: center;
    grid-area: footer; 
}

/*
-- Media Query --*/
@media (max-width: 1558px) {

    .container {
        display: grid;
        grid:
          "header" auto
          "sb" auto
          "main" 2fr
          "footer" auto
          / auto;
        gap: 8px;
    }

    /*
    /* Header Content */
    header {
        font-size: 0.8em;
        margin: 10px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        gap: 30px;
        grid-area: header; 
    }

    .navbar ul {
        display: block;
        list-style: none;
        font-size: larger;
        line-height: 50px;
    }

}
